@{
    ViewBag.Title = "Please Create Your First Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Simple Customer Database List</h2>

<div class="row">
    <div>
        <div class="panel">
            <p>You do you not have any customers yet.</p>
            <a href="Customer/Create" class="small radius button">Click Here to Create your first customer</a>
        </div>
    </div>
</div>