@{
    ViewBag.Title = "Please Create Your First Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Simple Customer Database List</h2>

<div class="row text-center">
    <div class="columns medium-12">
        <div class="panel">
            <p>You do you not have any customers</p>
            <p>Please click the button below to enter one</p>
            <a href="/Customer/Create" class="small radius button">Click Here to Create your first customer</a>
        </div>
    </div>
</div>