
<footer>
    <span>
        &copy; @DateTime.Now.Year - Jonathan David Livesay | 
        <a href="https://github.com/JonathanLivesay/SimpleCustomerDatabase" target="_blank"><i class="fi-social-github"></i>GitHub | </a>
        <a href="https://www.linkedin.com/pub/jonathan-david-livesay/7/481/b33/" target="_blank"><i class="fi-social-linkedin"></i>LinkedIn | </a>
        <a href="https://twitter.com/jonl316" target="_blank"><i class="fi-social-twitter"></i>Twitter | </a>
    </span>
</footer>